*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #F2F2F2;
    margin: 0;
}

.color-title {
    color:rgb(12, 115, 146);
    text-decoration: none;
    font-weight: bold;
}
.color-link {
    color:rgb(12, 115, 146);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 32px;
    background: white;
    color: #323232;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);    
}

.bar {
    max-width: 100%;
    background-color: lightgray;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;

}

.skills {
    text-align:center;
    color: white;
    background-color: rgb(12, 115, 146);
}

.java {width: 100%;}
.c {width: 75%;}
.python {width: 50%;}
.javascript {width: 50%;}
.html {width: 50%;}
.css {width: 50%;}
.react {width: 25%;}
.testing {width: 25%;}

.dark-mode {
    max-width: 960px;
    margin: auto;
    padding: 32px;
    background: #323232;
    color: white;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
}

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 11px 0;
    border-bottom: 1px solid lightgray;
}

section:last-child {
    border-bottom: none;
}

section:first-of-type {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
}

img.avatar {
    width: 207.2px;
    height: 188.3px;
}

.my-name {
    font-size:  48px;
    line-height: 1;
    margin-bottom: -1rem;
    margin-top: -1rem;
}

.my-title {
    font-size:  24px;
    font-weight: 300;
    color: rgb(12, 115, 146);
}

.links {
    display: flex;
    margin: 10px 0 20px 0;
}

.link-item {
    display: flex;
    align-items: center;
    flex: 0.4;
}

.link-icon {
    padding-right: 5px;
}

.section-name {
    font-weight: bold;
    line-height: 1.2;
}

.switch {
    position: relative;
    float: right;
    width: 48px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: lightseagreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px lightseagreen;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

span {
      display: block;
}

.section-project {
    margin-bottom: 1rem;
}

.subtitle {
    color: rgb(93, 93, 95);
}

.icon {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 100%;
    color: white;
    fill: white;
    margin-right: 0.3rem;
}

.github {
    background: white;
    fill: black; 
}

.github:hover {
    background: #6441a5;
    fill: white;
    border-radius: 100%;
}

.linkedin:hover {
    color: #007BB6;
    background: white;
    fill: #007BB6;
}
  
@media screen and (max-width: 600px) {
    .switch {
        position: relative;
        float: right;
        width: 40px;
        height: 14px;
    }

    .slider:before {
        height: 10px;
        width: 10px;
        left: 2px;
        bottom: 2px;
    }

    .slider.round {
        border-radius: 14px;
    }

    body {
        font-size: 12px;
    }

    .container {
        margin: -12px;
    }

    section {
        grid-gap: 0px;
    }

    .section-title {
        font-size: 10px;
    }

    img.avatar {
        width: 6rem;
        height: 5.5rem;
    }

    .my-name {
        font-size:  27px;
    }

    .my-title {
        font-size:  15px;
        font-weight: 300;
    }

    .links {
        margin: 10px -60px 5px 0px;
    }

    .link-item {
        flex: 1;
        font-size: 12px;
    }

    .link-icon {
        padding-right: 5px;
        max-width: 11%;
    }

    .bar {
        font-size: 0.55rem;
    }
    .icon {
        width: 12px;
        height: 12px;
    }
}